<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>厦门大学图书馆 - 站内搜索</title>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
</head>
<body>


<div class="container_12" id="wrap">
  <!-- top -->
  <div class="grid_12 pull_1_secondpage">

    <ul class="header_second">
      <li><a href="http://library.xmu.edu.cn"><%= image_tag("znss/xmulib logo.png") %></a></li>
      <li class="searchInsite" style="display:none;">
        <input class="search_text" name="txtSearch" id="txtSearch" type="text" value="" onKeypress="return submitForm()">&nbsp;<input type="submit" name="submit" id="submit" value="站内搜索" class="search_button"/>
      </li>
    </ul>

  </div>
  <!--end top -->
  <div class="clear"></div>
  <!-- navigator -->
  <div class="grid_12_secondPage">
    <ul class="nav_second">
      <li>&nbsp;</li>
      <li class="line"><%= image_tag("znss/menu line 2-28.png") %></li>
      <li><a href="http://library.xmu.edu.cn">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
      <li class="line"><%= image_tag("znss/menu line 2-28.png") %></li>
      <li>
        <a href="http://library.xmu.edu.cn/portal/secondpage.asp?pid=589&sid=65">概&nbsp;&nbsp;&nbsp;&nbsp;况</a>
      </li>
      <li class="line"><%= image_tag("znss/menu line 2-28.png") %></li>
      <li>
        <a href="http://library.xmu.edu.cn/portal/libraryinfo.asp">服&nbsp;&nbsp;&nbsp;&nbsp;务</a>
      </li>
      <li class="line"><%= image_tag("znss/menu line 2-28.png") %></li>
      <li>
        <a href="http://library.xmu.edu.cn/portal/secondpage.asp?pid=3&sid=39">资&nbsp;&nbsp;&nbsp;&nbsp;源</a>
      </li>
      <li class="line"><%= image_tag("znss/menu line 2-28.png") %></li>
      <li>
        <a href="http://library.xmu.edu.cn/portal/secondpage.asp?pid=8&sid=9">共享平台</a>
      </li>
      <li class="line"><%= image_tag("znss/menu line 2-28.png") %></li>
      <li>
        <a href="http://library.xmu.edu.cn/portal/secondpage.asp?pid=5&sid=57">文&nbsp;&nbsp;&nbsp;&nbsp;档</a>
      </li>
      <li class="line"><%= image_tag("znss/menu line 2-28.png") %></li>
      <li>
        <a href="http://library.xmu.edu.cn/portal/visit_site.asp?title=jade&url=http://library.xmu.edu.cn/yutang/" target="_blank">玉&nbsp;&nbsp;&nbsp;&nbsp;堂</a>
      </li>
      <li class="line"><%= image_tag("znss/menu line 2-28.png") %></li>
      <li>
        <a href="http://library.xmu.edu.cn/portal/visit_site.asp?title=mylibrary&url=http://210.34.4.28/reader/login.php" target="_blank">我的图书馆</a>
      </li>
      <li class="line"><%= image_tag("znss/menu line 2-28.png") %></li>
    </ul>

  </div>
  <!-- end navigator -->

  <div class="clear-shadow"></div>

  <!-- left column -->
  <div class="grid_3">
    <div class="left">
      <div class="tab_leftmenu">
        <% if !@facets.nil? %>
            <div id="content_2">
              <ul class="tabbox">
                <li class="menu1">搜索 - 分类结果</li>
                <li><a href="<%= gen_all_url %>">全部</a></li>
                <% @facets.each do |item| %>
                    <li><a href="<%= gen_facet_url(item['term']) %>"><%= code_2_name(item['term']) %>
                      : <%= item['count'] %></a></li>
                <% end %>
              </ul>
              <ul class="tabbox" runat="server" id="OrderUl">
                <li class="menu1">搜索 - 排序</li>
                <li>
                  <a href="<%= gen_rel_sort_url %>">相关度</a>
                </li>
                <li>
                  <a href="<%= gen_time_sort_url %>">发布时间</a>
                </li>
              </ul>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <!--end left column -->
  <!-- right column -->
  <div class="grid_9">
    <div class="tab_rightContent_secondpage">
      <ul class="tab_Content">
        <li class="contentTitle">&nbsp;</li>
        <li id="siteMap" class="contentTitle">
          <a href="http://library.xmu.edu.cn/">首页</a>&nbsp;>&nbsp;<a href="#">站内搜索</a></li>
        <div class="tab_option" id="tab_option">
          <%= form_tag main_s_path, method: 'get' do %>
              <%= text_field_tag :q, nil, class: "alySearch" %>
              <%= submit_tag "搜索", class: 'alySmt' %>
          <% end %>
          <% if @count %>
              <span id="CostSpan" class="rstNum">找到相关页面约为 <%= @count %>  条</span>
          <% end %>
          <!-最新公告->
          <% if params[:q].nil? || params[:q]=="" %>
              <div class="noticeHeader">最新公告</div>
              <ul class="results" style="display:none;">
                <li class="record">
                  <div class="title">
                  </div>
                  <div>
                  </div>
                </li>
              </ul>
          <% end %>
          <!-End 最新公告->
          <% if !@list.nil? %>
              <ul class="results">
                <% @list.each do |item| %>
                    <li class="record">
                      <div class="title"><a target="_blank" href='<%= item['url'] %>'><%= sanitize item['title'] %></a>
                        <span id="resultRp_ctl01_TimeLb" class="time"><%= parse_timestamp(item['create_timestamp']) %></span>
                      </div>
                      <div class="body">
                        <%= sanitize item['body'] %>
                      </div>
                    </li>
                <% end %>
              </ul>
              <% if !params[:q].nil? && params[:q]!="" %>
                  <ul class="paging" runat="server" id="PagingUl">
                    <li>
                      <a href='<%= gen_first_url %>'>首页</a>
                    </li>
                    <li>
                      <a href='<%= gen_pre_url %>'>«上一页</a>
                    </li>
                    <li>
                      <%= gen_cur_page %>
                    </li>
                    <li>
                      <a href='<%= gen_next_url %>'>下一页»</a>
                    </li>
                    <li>
                      <a href='<%= gen_last_url %>'>末页</a>
                    </li>
                    <li class="clear"></li>
                  </ul>
              <% end %>
          <% end %>
        </div>
      </ul>

    </div>
  </div>
  <!--end right column -->

  <div class="clear"></div>

  <div class="grid_12" id="site_info">
    <div class="box" align="center">
      <p>
        <a href="http://www.xmu.edu.cn" target="_blank">厦门大学</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.calis.edu.cn/" target="_blank">CALIS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cadal.cn/" target="_blank">CADAL</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cashl.edu.cn/portal/index.jsp" target="_blank">CASHL</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://library.xmu.edu.cn/portal/link.asp" target="_blank">相关链接</a><br/>
        版权所有&nbsp;&nbsp;<a href="http://library.xmu.edu.cn">厦门大学图书馆</a>&nbsp;&nbsp;2012-2013&nbsp;&nbsp;&nbsp;&nbsp;
        维护制作&nbsp;&nbsp;厦门大学图书馆&nbsp;&nbsp;<a href="http://info.wp.xmulib.org/48/" target="_blank">信息技术部</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;厦门大学ICP：<a href="http://register.xmu.edu.cn/Record.aspx?RecordID=D200152" target="_blank">D200152</a>
      </p>
    </div>
  </div>
  <div class="clear"></div>
</div>
</body>
</html>