<h1>Oai#s</h1>
<p>Find me in app/views/oai/s.html.erb</p>
<%= form_tag oai_s_path, method: 'get' do %>
    <%= text_field_tag :q %>
    <%= submit_tag "搜索" %>
<% end %>
<% if !@facets.nil? %>
    <div id="content_2">
      <ul class="tabbox">
        <li class="menu1">搜索 - 分类结果</li>
        <% @facets.each do |facet| %>
            <% facet.each do |item| %>
                <li><%= item['term'] %>
                  : <%= item['count'] %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>
<% if !@list.nil? %>
    <ul class="results">
      <% @list.each do |item| %>
          <li class="record">
            <div class="title"><a target="_blank" href='<%= item['url'] %>'><%= sanitize item['title'] %></a>
              <span id="resultRp_ctl01_TimeLb" class="time"><%= parse_timestamp(item['harvest_time']) %></span>
            </div>
            <div class="body">
              <div><%= sanitize item['creator'] %></div>
              <div><%= sanitize item['subject'] %></div>
              <div><%= sanitize item['descripton'] %></div>
              <div><%= sanitize item['contributor'] %></div>
              <div><%= sanitize item['origin_date'] %></div>
              <div><%= sanitize item['publisher'] %></div>
              <div><%= sanitize item['type'] %></div>
              <div><%= sanitize item['format'] %></div>
              <div><%= sanitize item['identifier'] %></div>
              <div><%= sanitize item['source'] %></div>
              <div><%= sanitize item['language'] %></div>
              <div><%= sanitize item['relation'] %></div>
              <div><%= sanitize item['coverage'] %></div>
              <div><%= sanitize item['rights'] %></div>
              <div><%= sanitize item['harvest_time'] %></div>

            </div>
          </li>
      <% end %>
    </ul>
<% end %>

